.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.logo {
    font-size: 24px;
    color: #090909;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav a {
    color: #090909;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    text-decoration: underline;
    color: #000000;
}
